// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

$top-gradient-blue: #226599;
$bottom-gradient-blue: #043e64;

$dark-blue: darken($bottom-gradient-blue, 5%);

// Important modules
@import "compass/css3";
@import "compass/css3/images";

// Full width browser bars
// http://css-tricks.com/full-browser-width-bars/
@mixin full-width-background(){
    position: relative;
    &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 9999px;
    } 
    &:before { right: 100%; }
    &:after { left: 100%; }
}
