/* line 7, ../sass/screen.scss */
.calendar-wrapper {
  position: relative;
}

/* line 12, ../sass/screen.scss */
.calendar {
  margin-bottom: 2em;
}
/* line 16, ../sass/screen.scss */
.calendar td {
  padding-bottom: 2em;
  width: 150px;
}
/* line 20, ../sass/screen.scss */
.calendar td:first-child {
  width: 50px;
  text-align: right;
}

/* line 28, ../sass/screen.scss */
.schedule, .schedule ul, .schedule li {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

/* line 33, ../sass/screen.scss */
.schedule {
  position: absolute;
  top: 1.4em;
  left: 52px;
}

/* line 38, ../sass/screen.scss */
.day {
  width: 150px;
  float: left;
}
/* line 43, ../sass/screen.scss */
.day ul {
  margin-top: 1px;
  width: 150px;
  height: 428px;
  position: relative;
}
/* line 49, ../sass/screen.scss */
.day li {
  margin-bottom: 2px;
  width: 144px;
  background: rgba(65, 118, 144, 0.5);
  border: 2px solid transparent;
  position: absolute;
}
