<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SSE Mentoring Match</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/screen.css' %}" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/print.css' %}" media="print" />
</head>
<body class="bp">
    <div class="container">
        <header> 
            <img src="{% static 'logo.png' %}" alt="SSE Logo">
        </header>

        <nav class="main-nav">
            Mentoring Match
            <ul>
                <li><a href="#">Mentors</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Get help</a></li>
            </ul>
        </nav>
        <h1>SSE!</h1>

    </div>
</body>
</html>
